<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>duty.house - Leadboard made simple</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏠</text></svg>">
        <link href="./src/style.scss" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="home">
        <div class="header">
            <a href="/">
                <h1 class="logo">🏠<br/><b>duty</b>.house</h1>
                <h2 class="motto">Leadboard made simple</h2>
            </a>
        </div>
        <content></content>
        <div class="footer">
            <div class="content">
                Made with ❤️
            </div>
        </div>
        <script src="https://apis.google.com/js/api.js"></script>
        <script src="./src/house.tsx"></script>
    </body>
</html>
